*{
    margin: 0;
    padding: 0;
}

.header{
    background-color: #131921;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header__logo{
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;
}

.header__search{
    display: flex;
    flex: 1;
}

.header__searchInput{
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}

.header__option{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

.header__optionBasket{
    display: flex;
    align-items: center;
}

.header__basketCount{
    margin-left: 11px;
    margin-right: 11px;
}

.header__optionLineOne{
    font-size: 11px;
}

.header__optionLineTwo{
    font-size: 14px;
    font-weight: 750;
}

.header__searchIcon{
    padding: 6px;
    height: 23px !important;
    background-color: orange;
}

.headerNav{
    display: flex;
    justify-content: space-evenly;
}

.header__link{
    color: white;
    text-decoration: none;
}